<a href="/">back!</a>

<form action="/create-post" method="get">
    <label for="titel">titel:</label>
    <input type="text" name="titel" placeholder="titel" required><br>
    <label for="description">beschrijving:</label>
    <input type="text" name="description" placeholder="beschrijving" required><br>
    <input type="radio" name="intern" value="1" required>intern
    <input type="radio" name="intern" value="0" required>extern
    <br>    
    <label for="imagePath">image path:</label>
    <input type="text" name="imagePath" placeholder="image path" required><br>
    <label for="notionLink">notion link:</label>
    <input type="text" name="notionLink" placeholder="notion link" required><br>
    <label for="poster">de gene die deze post maakt:</label>
    <input type="text" name="poster" placeholder="poster" required><br>
    <!-- <input type="text" name="werkveld" placeholder="Werkveld"><br> -->
    <button type="submit">submit</button>
</form>